[core]
	excludesfile = /Users/hristo/.gitignore_global
	editor = /usr/local/bin/nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = hss
	email = hristo.staykov@gmail.com
[commit]
	template = /Users/hristo/.stCommitMsg
